*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: aqua;
}
.heading{
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
    text-decoration: underline red;
    cursor: pointer;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
     align-items: center;
     margin-top: 100px;
}
.paragraph{
    margin-left: 50px;
    font-size: 1.5rem;
    max-width: 600px;
}

.img1{
    width: 300px;
    height: 300px;
    border: 1px solid grey;
    border-radius: 20px;
}
.social-icon{
    margin-top: 50px;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
   

}
li a{
    font-size: 50px;
    color: black;
}
@media screen and (max-width:950px) {

    .content{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .img1{
        margin-top: 50px;
    }
}
