*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: aqua;
}
.heading{
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
    text-decoration: underline red;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/*---html--*/

.html ,.css ,.js ,.react{
    border: 1px solid gray;
    border-radius:20px ;
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
h1{
    font-size: 120px;
    text-align: center;
    
}
h2{
    font-size: 20px;
    text-align: center;
    position: relative;
    bottom: 40%;
  
}
h3{
    text-align: center;
    position: relative;
    bottom: 30%;
}

